/* @todo refactor */
.ghnc-container {
  position: fixed;
  top: 383px;
  left: 93px;
  background: #f6f8fa;
  text-align: center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  width: 65px;
  z-index: 100;
}

.ghnc-container .btn {
  box-shadow: none !important;
}

.ghnc-container .btn.ghnc-reaction {
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: 100%;
  font-size: 24px;
  background: none;
  padding: 10px;
  background: white;
  border-radius: 0;
  display: block;
}

.ghnc-container .btn:not([disabled]):not(.ghnc-selected-reaction).ghnc-reaction:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
}

.ghnc-container .btn.ghnc-reaction g-emoji {
  margin-right: 0 !important;
}

.ghnc-container .btn.ghnc-selected-reaction {
  background: #f6f8fa;
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
}

.ghnc-container .ghnc-reaction-btns .btn.ghnc-reaction:first-child {
  border-top: none !important;
  border-radius: 3px 3px 0 0;
}

.ghnc-container .ghnc-reaction-btns .btn.ghnc-reaction:last-child {
  border-bottom: none !important;
  border-radius: 0 0 3px 3px;
}

.ghnc-container .btn.ghnc-action {
  width: 100%;
  display: block;
  border-radius: 0;
  border: none;
  line-height: 10px;
  padding: 10px;
  border-bottom: 1px solid #e1e4e8;
  border-top: 1px solid #e1e4e8;
}

.ghnc-container .btn.ghnc-action-next {
  border-top: none;
}

.ghnc-footer {
  text-align: center;
  display: block;
  padding: 10px 0 8px;
  background: white;
  color: #bcbbba;
  font-size: 13px;
  border-radius: 0 0 3px 3px;
}

.ghnc-footer span {
  display: block;
}

.ghnc-container .btn:disabled {
  pointer-events: none;
  display: none;
}

.ghnc-action:disabled {
  opacity: 0.5;
}

@keyframes yellowfade {
  from {
    background: yellow;
  }
  to {
    background: transparent;
  }
}

.ghnc-highlight-comment {
  animation-name: yellowfade;
  animation-duration: 1.5s;
}
